.reviews {
margin-bottom: 50px;
flex: 1 0 auto;
@media (min-width: $mobile) {
    margin-bottom: 200px;
    
}
    
}

.slider {


    &__inner {
        position: relative;
    }

    &__arrows {

    }
    &__prev, &__next {
    border: 1px solid #fff;
    width: 11.1%;
    position: static;
    opacity: 1;
    height: 40px;
    max-width: 130px;

    @media (min-width: $mobile) {
        height: 100px;
    }
    }

    &__box {
        @include pos($b:0);
    }

    &__body {
        text-align: center;
        @include pos($t:0, $l:0);
        transform: translateX(50%);

        @media (min-width: $mobile) {
            @include pos($t:32%, $l:0);
            
        }
    }

    &__icons {
        margin-bottom: 0;
        color: $gl;
        
        .icon-star {
            margin-right: 3px;
        }

        @media (min-width: $mobile) {
            margin-bottom: 35px;
            
        }
    }
    &__text {
        margin-bottom: 30px;
        color: #fff;
        letter-spacing:2px;
        font-size: 14px;
        font-weight: 300;

        @media (min-width: $mobile) {
            font-size: 22px;
            line-height: 40px;
            
        }
    }

    &__author {
        font-size: 24px;
        letter-spacing: 4.8px;
        position: relative;
        color: #fff;
        display: inline-block;

        &::before {
            content: '';
            @include size(45px, 2px);
            background: #fff;
            @include pos($t:50%, $l:-65px);
            
        }
    }

    &__aside {
        @include pos($b: 17%, $l:-60px);
        text-transform: uppercase;
        color: #fff;
        transform: rotate(90deg);
        padding: 0 30px 0 0;
        z-index: 9999;
        letter-spacing: 6.72px;
        font-size: 24px;
        font-weight: 300;
    }

    &__pic {
        position: relative;

        &::before {
            content: '';
            @include size(100%);
            @include pos($t:0, $l:0);
            background-color: #1c200b;
            opacity: .6;
        }
    }

}