* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

// Main styles

body {
	font: 400 16px $font;
	
	background-color: #f7f8f3;
	@media (min-width: $mobile) {
		
		font: 400 18px $font;
		
	}
}


.container--wrap {
	max-width: 1200px;
}

//antibootstrap :D 

a {
	color: currentColor;
	text-decoration: none;

	&:hover {
		color: currentColor;
		text-decoration: none;
	}
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:currentColor;
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-link {
	padding: 0;
}
.nav-tabs {
    border-bottom: none;
}