@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?6lrg5o');

  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-down:before {
    content: "\e901";
  }
  .icon-fb:before {
    content: "\e902";
  }
  .icon-search:before {
    content: "\e903";
  }
  .icon-star:before {
    content: "\e904";
  }
  .icon-tw:before {
    content: "\e905";
  }
  .icon-yt:before {
    content: "\e906";
  }
  