.slider-p {
    margin-bottom: 140px;

    &__wrap {
        display: flex;
        margin-bottom: 55px;

    }

    &__item {
        width: 414px;
        border: 1px solid #e1e1e1;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        @media (min-width: $mobile) {
            width: 615px;
        }

    }

    &__body {
        border: 1px solid #ced6af;
        background-color: #fff;
        text-align: center;
        padding: 35px;
        width: 414px;
        height: 430px;

        @media (min-width: $mobile) {
            width: 615px;
        }
    }
    &__stars {
        color: $gl;
        margin-bottom: 15px;
    }

    &__title {
        letter-spacing: 2.7px;
        margin-bottom: 40px;

    }

    &__img {
        width: 144px;
        margin: 0 auto;
    }

    &__box {
        width: 414px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: space-between;

        @media (min-width: $mobile) {
            width: 615px;
        }
    }

    &__pic {

    }

    &__price {
        padding: 30px;
        letter-spacing: 2.7px;
        justify-content: flex-start;
    }

    &__btn {
        font-size: 20px;
        background-color: $gl;
        padding: 30px 105px 30px 30px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        display: inline-block;
        transition: all .3s;

        &::before {
            @include size(45px, 2px);
            @include pos($t:50%, $r:40px);
            content: '';
            background: #fff;

        }

        &:hover {
            color: #fff;
        }
    }

    &__arrows {
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .slider-prev {
            transform: rotate(180deg);
        }
    }

}