.logo {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 55px;

    &:hover {
        color: #fff;
        text-decoration: none;
    }   
}

@media (min-width: $mobile) {
    .logo {
        &::before {
            content: '';
            background: $gl;
            @include size(0, 2px);
            @include pos($t:50%, $l:50%);
            transition: all .3s;
            transform: translateX(-10%);
        }
    
        &:hover {
            &::before {
                width: 120%;
                left: 0;
            }
        }
    }
}